# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.gradle/
build/
build/classes/java/main/
build/classes/java/test/
target/
.idea/
logs/
out/
history/
.idea/
.scannerwork

